@use "_reset.scss";

$orange: #ffc935;
$blue: #025dcb;
$red: #ff4949;
$purple: #df3df4;
$small: 8px;
$medium: 16px;
$large: 24px;

// %box {
//   font-size: $large;
//   width: 150px;
//   height: 150px;
//   padding: 20px;
// }

// .box-red {
//   @extend %box;
//   background-color: $red;
// }
// .box-blue {
//   @extend %box;
//   background-color: $blue;
// }

// .box-orange {
//   @extend %box;
//   background-color: $orange;
// }
// .box-purple {
//   @extend %box;
//   background-color: $purple;
// }

@mixin box($color) {
  font-size: $large;
  width: 150px;
  height: 150px;
  background-color: $color;
}

.box-red {
  @include box($red);
}
.box-blue {
  @include box($blue);
}

.box-orange {
  @include box($orange);
}
.box-purple {
  @include box($purple);
}

.container {
  display: flex;
  justify-content: space-around;
  //   div {
  //     width: 150px;
  //     height: 150px;
  //   }
  background-color: reset.$main-color;
  padding: $large;
}
